﻿<html>
<head>
    <title></title>
</head>
<body>
    <%
    int i;
    for(i = 0 ; i < 10 ; i++){
    %>
    <h1>
        <%
        print(i);
        %>
    </h1>
    <%
    }
    %>
</body>
</html>