﻿<html>
<head>
    <title></title>
</head>
<body>
    <%
    #include "archivo.c";

    int n = 5;
    string nombre = "victor";
    imprimir(n);
    imprimir(n,n);
    
    int result = suma(4, 7);
    print(result);
%>
</body>
</html>